src/main/mule/mule-hello-mars.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="25b072bb-0345-40a3-b6d4-a924d9380420" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-hello-marsFlow" doc:id="ca73f296-3b45-4cdb-ba03-4021a1c91037" >
		<http:listener doc:name="GET /demo" doc:id="2a6a2be2-2f6e-47e5-a145-4e9ed37ce5ad" config-ref="HTTP_Listener_config" path="/demo" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="417207ff-d25c-41e3-b201-c9060e228fb1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hello Mars!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="34107b88-5b6c-4ca3-800b-beadd69e07f4" message="#[payload]"/>
	</flow>
</mule>
